@import "tailwindcss";

@theme {
  --color-extraLightGray: #dee2e6;
  --color-lightGray: #ced4da;
  --color-offWhite: #eff3f6;
  --color-gray: #adb5bd;
  --color-body: #495057;
  --color-primary: #ff5900;
  --shadow-border: var(50px 50px 175px 175px);
}
